<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This web app was created by Nathan Chmielewski. Data is provided by mapbox.com and weatherstack.com</p>
            <img class="portrait" src="./img/me.png">
        </div>

        {{>footer}}
    </body>
</html>
