<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}<a href="mailto: nathanch@me.com">nathanch@me.com</a>.</p>
        </div>

        {{>footer}}
    </body>
</html>